@import '../sass/palette.scss';
@font-face {
  font-family: AlegreyaReg;
  src: url("../sass/fonts/alegreya/Alegreya-Regular.ttf");
}
@font-face {
  font-family: OpenSansReg;
  src: url("../sass/fonts/opensans/OpenSans-Regular.ttf");
}

body {
  background: $darkBlue;
  overflow-x: hidden;

  a,
  h2,
  h3,
  label,
  p {
    color: $lighterGreen;
  }

  ,
  a,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: AlegreyaReg;
  }

  label,
  p {
    font-family: OpenSansReg;
  }

  h3 {
    font-size: 140%;
  }

  h2 {
    font-size: 160%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 0.7;
  }

  button {
    background: $lighterGreen;
    color: $darkBlue;
  }

  table,
  td,
  th {
    color: $lighterGreen;
  }
}
