@import '../../../sass/palette.scss';
$margin: 20px;

.dashBtns {
  margin-top: $margin;

  button {
    display: block;
    width: 60%;
  }
  @mixin btn {
    margin: 5px auto;
    border: 1px solid black;
    font-weight: 600;
    font-size: 120%;
  }

  .new-post a {
    color: $darkBlue;
    font-weight: 600;
  }
  @media screen and (max-width: 430px) {
    button {
      @include btn;
    }
  }
  @media screen and (min-width: 426px) {
    button {
      @include btn;
      display: inline;
      width: 25%;
    }
  }
}
