label {
  font-size: 140%;
}

,
.input-form,
.input-login input {
  width: 95%;
  padding: 2px;
  /* border: 1px solid black; */
}

.edit-form,
.login-form,
.new-post-form {
  position: relative;
  top: 50%;
  transform: translateY(40%);
}

.login-label {
  position: relative;
  top: 15px;
}

.form-btns {
  position: relative;
  top: 15px;

  button {
    border: none;
    padding: 10px;
    margin-left: 5px;
    font-size: 150%;
    font-weight: 600;
  }
}